version: 2.1

orbs:
  # See the orb documentation here: https://circleci.com/developer/orbs/orb/circleci/node
  node: circleci/node@4.1
  release: fiveapp/release@0.0.3

executors:
    default:
        docker:
            - image: cimg/node:lts

jobs:
    test:
        executor: default
        steps:
            - checkout
            - node/install-packages
            - run: npm run lint
            - run: npm test

workflows:
    build:
        jobs:
            - test
            - release/npm_and_github:
                context:
                    - org-global
                    - github-release
                requires:
                    - test
                filters:
                    branches:
                        only:
                            - main
